ul
  display: flex
  flex-direction: column
  align-items: center
  height: auto
  width: 100%
  padding: 0
  margin: 0 auto

  li
    width: 100%
    height: auto
    text-align: center
    cursor: pointer
    display: grid
    color: $white
    padding: $space-small $space-x-small
    font-size: .8rem
    grid-template-areas: "link author time size"
    align-items: center
    column-gap: .2rem
    grid-template-columns: 45% 20% 20% 10%

    &:hover
      background: $primary-light
      color: $white

  a
    height: auto
    width: 100%
    max-width: 100%
    overflow: hidden
    align-items: center
    justify-content: flex-start
    display: inline-flex
    flex-direction: row
    transition: 200ms
    grid-area: link
    margin: 0

    .fileName
      width: 100%
      text-align: start


    img
      cursor: pointer
      min-width: 2.5em
      width: 3rem
      height: auto
      padding-bottom: 0
      color: $primary
      grid-area: icon
      padding-right: .3rem
      filter: grayscale(100%) opacity(0.7)

  .author
    grid-area: author
    font-size: .6rem


  .time
    display: flex
    flex-direction: column
    grid-area: time
    font-size: .6rem
    align-items: center
    height: 100%
    justify-content: center


  .size
    grid-area: size
    display: flex
    flex-direction: column
    font-size: .6rem
    align-items: center
    justify-content: center
    height: 100%




.btn-delete
  background-color: transparent
  border: none
  cursor: pointer
  height: auto
  filter: grayscale(100%) opacity(0.7)
  @include hover-lift