#form
  max-width: $media-tablet
  margin: 0 auto

form
  display: grid
  row-gap: $space-small
  max-width: 800px
  width: 100%
  height: auto
  padding-bottom: 0
  margin: 0 auto
  justify-items: center
  font-family: $font

  button
    @include button
    color: $primary
    background-color: $white
    border: .5px solid $white
    @include hover-lift

fieldset
  width: 100%
  max-width: 100%
  border: none
  label
    @include label
    small
      @include small

.input-field
  @include field

.file-input
  max-width: 100%
  width: 100%
  height: auto
  border-radius: 16px
  label
    @include label
  small
    @include small
    padding: $space-x-small
    text-align: end
  input
    @include field
    padding: 0.2rem
    font-size: .8rem
    margin: auto 0
    &::file-selector-button
      @include button
      background-color: $primary
      font-size: .8rem
      color: $white
      width: auto
      @include hover-lift
  img
    @include field
    width: 4rem
    height: auto
    object-fit: cover
    background-color: transparent
    border: none
    padding: 0.2rem 0
    margin: 0
    margin-right: $space-x-small

.preview-input-wrapper
  display: flex
  flex-direction: row
  width: 100%
  height: auto
  justify-content: space-between
  align-items: center

